html,body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .App {
    text-align: center;
    width: 120px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    border-radius: 5%;
  }
  
  .light{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
    opacity: 0.2;
    margin: 5px;
  }
  
  .yellow{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.4;
    background-color: yellow;
    border: 0;
  
  }
  .green{
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.4;
    border: 0;
  }
  .red{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.4;
    border: 0;
  }
  
  .poste{
    width: 10px;
    height: 25px;
    background-color: black;
    margin-left: 55px;
    border:0;
  }
  
  
  .brillo{
    /* box-shadow: 0 0 90px rgb(255, 213, 0); */
    box-shadow: 0px 0px 16px 25px rgba(167, 138, 23, 1);
    overflow: visible;
    opacity: 0.9;
  }
  
  .brillo-rojo{
    /* box-shadow: 0 0 90px rgb(255, 213, 0); */
    box-shadow: 0px 0px 16px 25px rgb(167, 23, 23);
    overflow: visible;
    opacity: 0.9;
  }
  
  .brillo-verde{
    /* box-shadow: 0 0 90px rgb(255, 213, 0); */
    box-shadow: 0px 0px 16px 25px rgb(69, 167, 23);
    overflow: visible;
    opacity: 0.9;
  }
